.column-wrap:after, .container:after, .team-list:after, .contact .contact-holder:after, .social:after, #header .main-menu ul:after, .column-wrap:before, .container:before, .team-list:before, .contact .contact-holder:before, .social:before, #header .main-menu ul:before {
  content: " ";
  display: block;
  clear: both; }

.plans .item .plans-list, .social, #header .main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none; }

*, *:before, *:after {
  box-sizing: border-box; }

* {
  max-height: 1000000px; }
  @media print {
    * {
      color: #000 !important;
      background: none !important; } }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none; }

img {
  display: block;
  border-style: none;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

input,
textarea,
select {
  vertical-align: middle; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer; }

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  -webkit-appearance: none; }
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    outline: none; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

input[type="submit"] {
  background: none;
  padding: 0; }

q {
  quotes: none; }
  q:before, q:after {
    content: '';
    content: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address {
  font-style: normal; }

mark {
  background: none; }

.gm-style img {
  max-width: none; }

@media only screen and (min-width: 1025px) {
  a[href^=tel], a[href^=skype], a[href^=sms] {
    cursor: default;
    pointer-events: none; } }

input {
  font-family: "Open Sans", "Tahoma", sans-serif;
  width: 100%;
  height: 43px;
  background: #fff;
  border: none;
  color: #4e525d;
  font-size: 16px;
  padding: 0 14px;
  border-radius: 3px; }

::-webkit-input-placeholder {
  color: #c1c1c1;
  font-weight: 100;
  font-size: 16px; }

::-moz-placeholder {
  color: #c1c1c1;
  font-weight: 100;
  font-size: 16px; }

:-moz-placeholder {
  color: #c1c1c1;
  font-weight: 100;
  font-size: 16px; }

:-ms-input-placeholder {
  color: #c1c1c1;
  font-weight: 100;
  font-size: 16px; }

textarea {
  font-family: "Open Sans", "Tahoma", sans-serif;
  background: #fff;
  border: none;
  padding: 18px;
  width: 100%;
  color: #4e525d;
  font-size: 16px;
  border-radius: 3px;
  height: 180px;
  resize: none; }

.form-column {
  float: left;
  width: 48%;
  margin: 0 0 0 4%; }
  .form-column:first-child {
    margin: 0; }
    @media (max-width: 767px) {
      .form-column:first-child {
        margin: 0 0 10px; } }
  @media (max-width: 767px) {
    .form-column:last-child {
      margin: 0; } }
  @media (max-width: 767px) {
    .form-column {
      width: 100%;
      margin: 0 0 10px; } }

.column-wrap {
  margin: 0 0 32px; }
  @media (max-width: 767px) {
    .column-wrap {
      margin: 0 0 10px; } }

body {
  color: #4e525d;
  background: #fff;
  font: 14px/20px "Open Sans", "Tahoma", sans-serif;
  min-width: 320px;
  margin: 0; }

.container {
  max-width: 1170px;
  margin: 0 auto; }
  @media (max-width: 1199px) {
    .container {
      padding: 0 15px; } }

h1 {
  font-size: 61px;
  line-height: 63px;
  font-weight: normal;
  letter-spacing: 2px; }
  @media (max-width: 1023px) {
    h1 {
      font-size: 44px;
      line-height: 46px; } }
  @media (max-width: 767px) {
    h1 {
      font-size: 24px;
      line-height: 26px; } }

h2 {
  font-size: 42px;
  line-height: 44px;
  font-weight: normal;
  margin: 0 0 20px;
  text-align: center;
  text-transform: capitalize; }
  @media (max-width: 767px) {
    h2 {
      font-size: 30px;
      line-height: 32px; } }

p {
  margin: 0 0 10px; }

a {
  color: #49cbcd; }

#wrapper {
  padding-top: 100px; }
  @media (max-width: 767px) {
    #wrapper {
      padding-top: 57px; } }

.second-bg {
  background: #f1f1f1; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.error {
  color: #ff1515;
  font-weight: 100; }

.page-content {
  padding: 100px 0 93px; }
  @media (max-width: 1199px) {
    .page-content {
      padding: 70px 0; } }
  @media (max-width: 767px) {
    .page-content {
      padding: 30px 0; } }

.team-list {
  padding: 114px 0 0; }
  @media (max-width: 1199px) {
    .team-list {
      padding: 50px 0 0; } }
  @media (max-width: 767px) {
    .team-list {
      padding: 0; } }
  .team-list .item {
    float: left;
    width: 25%;
    padding: 0 15px;
    text-align: center; }
    @media (max-width: 767px) {
      .team-list .item {
        width: 50%;
        margin: 0 0 20px; } }
    @media (max-width: 669px) {
      .team-list .item {
        width: 100%; } }
  .team-list .image-holder {
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0 62px;
    overflow: hidden; }
    @media (max-width: 1023px) {
      .team-list .image-holder {
        width: 150px;
        margin: 0 auto 30px; } }
    @media (max-width: 767px) {
      .team-list .image-holder {
        margin: 0 auto 15px; } }
    .team-list .image-holder .hover-block {
      opacity: 0;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.2s; }
      .team-list .image-holder .hover-block .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #f46d6d;
        font-size: 84px;
        line-height: 46px;
        font-weight: bold;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    .team-list .image-holder:hover .hover-block {
      opacity: 1;
      text-decoration: none; }
  .team-list .info {
    line-height: 25px; }
    @media (max-width: 1023px) {
      .team-list .info {
        font-size: 13px; } }
    @media (max-width: 767px) {
      .team-list .info {
        font-size: 14px; } }
  .team-list .name-holder {
    margin: 0 0 20px; }
    @media (max-width: 767px) {
      .team-list .name-holder {
        margin: 0 0 10px; } }
  .team-list .name {
    display: block;
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 5px; }
    @media (max-width: 1023px) {
      .team-list .name {
        font-size: 18px;
        line-height: 20px; } }

.plans-block {
  padding: 120px 0 95px; }
  @media (max-width: 1199px) {
    .plans-block {
      padding: 80px 0; } }
  @media (max-width: 767px) {
    .plans-block {
      padding: 40px 0; } }

.plans .item {
  float: left;
  width: 31.33%;
  text-align: center;
  margin-left: 3%; }
  @media (max-width: 767px) {
    .plans .item {
      width: 100%;
      margin: 0 0 25px; } }
  .plans .item:first-child {
    margin-left: 0; }
  @media (max-width: 767px) {
    .plans .item:last-child {
      margin: 0; } }
  .plans .item.hover .title {
    background: #49cbcd; }
  .plans .item .title {
    display: block;
    padding: 23px 15px;
    background: #485460;
    color: #fff;
    font-size: 26px;
    line-height: 28px;
    transition: background 0.2s; }
    @media (max-width: 767px) {
      .plans .item .title {
        padding: 15px; } }
  .plans .item .description {
    display: block;
    padding: 24px 15px;
    color: #485460;
    font-size: 20px;
    line-height: 22px;
    background: #f8f9fb;
    border-bottom: 1px solid #ecf0f1; }
    @media (max-width: 767px) {
      .plans .item .description {
        padding: 15px; } }
  .plans .item .plans-list li {
    padding: 12px 10px;
    background: #fff;
    border-bottom: 1px solid #ecf0f1;
    color: #8c9299; }
  .plans .item .btn-holder {
    background: #f8f9fb;
    padding: 30px 10px; }
    @media (max-width: 767px) {
      .plans .item .btn-holder {
        padding: 20px 10px; } }

.contact {
  background: url("../images/contact-bg.jpg") no-repeat 0 0;
  background-size: cover; }
  .contact h2 {
    color: #fff; }
  .contact .contact-holder {
    padding-top: 90px; }
    @media (max-width: 1023px) {
      .contact .contact-holder {
        padding-top: 40px; } }
    @media (max-width: 767px) {
      .contact .contact-holder {
        padding-top: 15px; } }
  .contact .social-block {
    float: left;
    width: 50%;
    padding: 0 10% 0 0; }
    @media (max-width: 1023px) {
      .contact .social-block {
        padding: 0 5% 0 0; } }
    @media (max-width: 767px) {
      .contact .social-block {
        width: 100%;
        padding: 0;
        margin: 0 0 30px; } }
    .contact .social-block .text-holder {
      color: #8d8d8d;
      margin: 0 0 37px; }
      @media (max-width: 767px) {
        .contact .social-block .text-holder {
          margin: 0 0 20px; } }
      .contact .social-block .text-holder .title {
        color: #fff;
        font-size: 24px;
        line-height: 26px;
        margin: 0 0 5px; }
        @media (max-width: 767px) {
          .contact .social-block .text-holder .title {
            font-size: 20px;
            line-height: 22px; } }
  .contact .contact-form {
    float: left;
    width: 49%; }
    @media (max-width: 767px) {
      .contact .contact-form {
        width: 100%; } }
    .contact .contact-form .btn-holder {
      text-align: right; }
    .contact .contact-form .form-btn {
      background: #49cbcd;
      font-size: 22px;
      line-height: 22px;
      padding: 15px 10px; }
      @media (max-width: 767px) {
        .contact .contact-form .form-btn {
          padding: 10px;
          font-size: 20px; } }
      .contact .contact-form .form-btn:hover {
        background: #8c9299; }
  .contact .contacts {
    color: #bface2;
    font-size: 14px;
    line-height: 24px; }
    .contact .contacts a {
      color: #bface2; }

@font-face {
  font-family: 'icomoon';
  src: url("f../onts/icomoon.eot?qd0njw");
  src: url("../fonts/icomoon.eot?qd0njw#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?qd0njw") format("truetype"), url("../fonts/icomoon.woff?qd0njw") format("woff"), url("../fonts/icomoon.svg?qd0njw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: "\e900"; }

.icon-twitter:before {
  content: "\e901"; }

.icon-google:before {
  content: "\e902"; }

.icon-chevron-right:before {
  content: "\e903"; }

.icon-chevron-left:before {
  content: "\e904"; }

.btn {
  display: inline-block;
  padding: 10px;
  min-width: 170px;
  color: #fff;
  font-size: 17px;
  line-height: 19px;
  background: #788492;
  border-radius: 3px;
  border: none;
  transition: background 0.2s; }
  .btn:hover {
    text-decoration: none;
    background: #49cbcd; }
  .btn:focus {
    outline: none; }

.social {
  margin: 0 0 14px; }
  .social li {
    float: left;
    margin: 0 15px 0 0; }
    .social li:last-child {
      margin: 0; }
    .social li.facebook a {
      background: #3b5997; }
    .social li.twitter a {
      background: #3ec2f3; }
    .social li.google a {
      background: #e44c41; }
  .social a {
    display: block;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding-top: 11px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: opacity 0.2s; }
    .social a:hover {
      text-decoration: none;
      opacity: 0.8; }

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  font-size: 0;
  width: 52px;
  height: 52px;
  overflow: hidden; }
  @media (max-width: 1199px) {
    .owl-prev,
    .owl-next {
      width: 40px;
      height: 40px; } }
  .owl-prev:before,
  .owl-next:before {
    font-family: 'icomoon';
    display: block;
    clear: both;
    font-size: 26px;
    line-height: 26px;
    color: #49cbcd;
    width: 52px;
    height: 52px;
    background: #fff;
    text-align: center;
    padding-top: 14px;
    border-radius: 50%;
    transition: opacity 0.2s; }
    @media (max-width: 1199px) {
      .owl-prev:before,
      .owl-next:before {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 20px;
        padding-top: 11px; } }
  .owl-prev:hover:before,
  .owl-next:hover:before {
    opacity: 0.8; }

.owl-prev {
  left: 30px; }
  @media (max-width: 1199px) {
    .owl-prev {
      left: 10px; } }
  @media (max-width: 669px) {
    .owl-prev {
      left: 5px; } }
  .owl-prev:before {
    content: "\e904"; }

.owl-next {
  right: 30px; }
  @media (max-width: 1199px) {
    .owl-next {
      right: 10px; } }
  @media (max-width: 669px) {
    .owl-next {
      right: 5px; } }
  .owl-next:before {
    content: "\e903"; }

@media (max-width: 669px) {
  #main-carousel .item {
    min-height: 300px; } }

#main-carousel .item img {
  display: block;
  width: 100%;
  height: auto; }
  @media (max-width: 669px) {
    #main-carousel .item img {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
      max-width: none; } }

#main-carousel .carousel-text {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  max-width: 680px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 38px;
  font-weight: 100; }
  @media (max-width: 1199px) {
    #main-carousel .carousel-text {
      max-width: none;
      padding: 0 55px; } }
  @media (max-width: 1023px) {
    #main-carousel .carousel-text {
      font-size: 18px;
      line-height: 30px; } }
  @media (max-width: 767px) {
    #main-carousel .carousel-text {
      font-size: 14px;
      line-height: 20px; } }
  #main-carousel .carousel-text h1 {
    color: #fff;
    text-shadow: 0 2px 1px #81a99b;
    margin: 0 0 30px; }
    @media (max-width: 767px) {
      #main-carousel .carousel-text h1 {
        margin: 0 0 15px; } }
  #main-carousel .carousel-text p {
    max-width: 500px;
    margin: 0 auto 50px; }
    @media (max-width: 1199px) {
      #main-carousel .carousel-text p {
        max-width: none; } }
    @media (max-width: 767px) {
      #main-carousel .carousel-text p {
        margin: 0 0 20px; } }
  #main-carousel .carousel-text .text-holder {
    display: table;
    height: 100%;
    width: 100%; }
  #main-carousel .carousel-text .text {
    display: table-cell;
    vertical-align: middle; }
  #main-carousel .carousel-text .btn {
    display: inline-block;
    color: #fff;
    font-size: 26px;
    line-height: 28px;
    padding: 18px 35px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: transparent;
    transition: background 0.2s; }
    @media (max-width: 1199px) {
      #main-carousel .carousel-text .btn {
        font-size: 22px;
        line-height: 24px;
        padding: 15px 30px; } }
    @media (max-width: 767px) {
      #main-carousel .carousel-text .btn {
        font-size: 18px;
        line-height: 20px;
        padding: 10px 20px; } }
    #main-carousel .carousel-text .btn:hover {
      background: #49cbcd; }

#header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10; }
  #header .logo {
    float: left;
    margin: 30px 0 0;
    transition: margin 0.2s; }
    @media (max-width: 767px) {
      #header .logo {
        margin: 10px 0; } }
  #header .main-menu {
    float: right;
    padding-right: 5%; }
    @media (max-width: 1199px) {
      #header .main-menu {
        padding-right: 0; } }
    @media (max-width: 767px) {
      #header .main-menu {
        position: absolute;
        top: 57px;
        left: 0;
        width: 100%;
        margin: 0;
        z-index: 99; } }
    #header .main-menu li {
      float: left; }
      @media (max-width: 767px) {
        #header .main-menu li {
          float: none;
          display: block;
          background: #fff;
          border-bottom: 1px solid #49cbcd; } }
      @media (max-width: 767px) {
        #header .main-menu li:first-child {
          border-top: 1px solid #49cbcd; } }
    #header .main-menu a {
      display: block;
      color: #4e525d;
      font-size: 15px;
      line-height: 17px;
      padding: 40px 20px;
      border-bottom: 3px solid transparent;
      transition: border 0.2s, color 0.2s, background 0.2s, padding 0.2s; }
      @media (max-width: 767px) {
        #header .main-menu a {
          padding: 10px 15px; } }
      #header .main-menu a:hover {
        color: #49cbcd;
        border-bottom: 3px solid #49cbcd;
        background: #f8f9fb;
        text-decoration: none; }
  #header.fixed {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2); }
    #header.fixed .main-menu a {
      padding: 25px 20px; }
      @media (max-width: 767px) {
        #header.fixed .main-menu a {
          padding: 10px 15px; } }
    #header.fixed .logo {
      margin: 16px 0 0; }
      @media (max-width: 767px) {
        #header.fixed .logo {
          margin: 10px 0; } }

.opener {
  display: none;
  float: right;
  height: 57px;
  width: 57px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0; }
  @media (max-width: 767px) {
    .opener {
      display: block; } }

.opener:before,
.opener:after,
.opener span {
  background: #49cbcd;
  border-radius: 4px;
  position: absolute;
  top: 31px;
  left: 28%;
  right: 28%;
  height: 3px;
  margin-top: -2px;
  transition: all 0.2s linear; }

.opener:before,
.opener:after {
  content: '';
  top: 25px; }

.opener:after {
  top: 37px; }

/* close button transition */
.close-btn span,
.active .opener span {
  opacity: 0; }

.close-btn:after,
.close-btn:before,
.active .opener:after,
.active .opener:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 31px;
  left: 28%;
  right: 28%; }

.close-btn:after,
.active .opener:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* slide animation */
@media (max-width: 767px) {
  .wrap.slide .drop {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s linear;
    z-index: 999; } }

.wrap.slide.active .drop {
  max-height: 4000px; }

@media (max-width: 767px) {
  .wrap.slide .drop > ul {
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); } }

.wrap.slide.active .drop > ul {
  -webkit-transform: translateY(0);
  transform: translateY(0); }

/* disable animation while browser is resizing */
.resize-active .hold,
.resize-active .drop,
.resize-active .drop > ul {
  transition: none !important; }

/*# sourceMappingURL=styles.css.map */
