#main-carousel {
	.item {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.carousel-text {
		position: absolute;
		top: 0;
		left: 50%;
		height: 100%;
		max-width: 680px;
		transform: translateX(-50%);
		text-align: center;
		color: $white;
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 38px;
		font-weight: 100;
		h1 {
			color: #fff;
			text-shadow: 0 2px 1px rgba(129, 169, 155, 1);
			margin: 0 0 30px;
		}
		p {
			max-width: 500px;
			margin: 0 auto 50px;
		}
		.text-holder {
			display: table;
			height: 100%;
			width: 100%;
		}
		.text {
			display: table-cell;
			vertical-align: middle;
		}
		.btn {
			display: inline-block;
			color: $white;
			font-size: 26px;
			line-height: 28px;
			padding: 18px 35px;
			border: 2px solid $white;
			border-radius: 5px;
			background: transparent;
			transition: background 0.2s;
			&:hover {
				background: $green;
			}
		}
	}
}
