#main-carousel {
	.item {
		@include media("<phone") {
			min-height: 300px;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
			@include media("<phone") {
				position: absolute;
				top: 0;
				left: 0;
				width: auto;
				height: 100%;
				max-width: none;
			}
		}
	}
	.carousel-text {
		position: absolute;
		top: 0;
		left: 50%;
		height: 100%;
		width: 100%;
		max-width: 680px;
		transform: translateX(-50%);
		text-align: center;
		color: $white;
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 38px;
		font-weight: 100;
		@include media("<wide") {
			max-width: none;
			padding: 0 55px;
		}
		@include media("<large") {
			font-size: 18px;
			line-height: 30px;
		}
		@include media("<tablet") {
			font-size: 14px;
			line-height: 20px;
		}
		h1 {
			color: #fff;
			text-shadow: 0 2px 1px rgba(129, 169, 155, 1);
			margin: 0 0 30px;
			@include media("<tablet") {
				margin: 0 0 15px;
			}
		}
		p {
			max-width: 500px;
			margin: 0 auto 50px;
			@include media("<wide") {
				max-width: none;
			}
			@include media("<tablet") {
				margin: 0 0 20px;
			}
		}
		.text-holder {
			display: table;
			height: 100%;
			width: 100%;
		}
		.text {
			display: table-cell;
			vertical-align: middle;
		}
		.btn {
			display: inline-block;
			color: $white;
			font-size: 26px;
			line-height: 28px;
			padding: 18px 35px;
			border: 2px solid $white;
			border-radius: 5px;
			background: transparent;
			transition: background 0.2s;
			@include media("<wide") {
				font-size: 22px;
				line-height: 24px;
				padding: 15px 30px;
			}
			@include media("<tablet") {
				font-size: 18px;
				line-height: 20px;
				padding: 10px 20px;
			}
			&:hover {
				background: $green;
			}
		}
	}
}
